.icon-box h4 {
  margin-left: 85px;
}

.icon-box p {
  margin-left: 85px;
}

.icon {
  float: left;
  display: flex;
  border: 2px solid black;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.fas {
  font-size: 32px;
}
